<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>
                <%= text.empno %>
            </th>
            <th>
                <%= text.ename %>
            </th>
            <th>
                <%= text.hiredate %>
            </th>
            <th>
                <%= text.salary %>
            </th>
            <th>
                <%= text.deptno %>
            </th>
            <th>
                <%= text.title %>
            </th>
        </tr>
    </table>
</body>
</html>