<html>
    <head>
        <style>
            .input_text {
                width: 123px;
            }
        </style>
    </head>
    <body>
        <form method="post" action="http://localhost:8181/nodejs_homework/insert_lr">
            <table>
                <tbody>
                    <thead>
                        <%= caption %>
                    </thead>
                    <tr>
                        <label>
                            <td><%= employ_text.empno %></td>
                            <td><input class="input_text" type="text" name="empno" value="<%= employ_value.empno %>" /></td>
                        </label>
                    </tr>
                    <tr>
                        <label>
                            <td><%= employ_text.ename %></td>
                            <td><input class="input_text" type="text" name="ename" value="<%= employ_value.ename %>" /></td>
                        </label>
                    </tr>
                    <tr>
                        <label>
                            <td><%= employ_text.hiredate %></td>
                            <td><input class="input_text" type="date" name="hiredate" value="<%= employ_value.hiredate %>" /></td>
                        </label>
                    </tr>
                    <tr>
                        <label>
                            <td><%= employ_text.salary %></td>
                            <td><input class="input_text" type="text" name="salary" value="<%= employ_value.salary %>" /></td>
                        </label>
                    </tr>
                    <tr>
                        <label>
                            <td><%= employ_text.deptno %></td>
                            <td><input class="input_text" type="text" name="deptno" value="<%= employ_value.deptno %>" /></td>
                        </label>
                    </tr>
                    <tr>
                        <label>
                            <td><%= employ_text.title %></td>
                            <td><input class="input_text" type="text" name="title" value="<%= employ_value.title %>" /></td>
                        </label>
                    </tr>
                </tbody>
            </table>
            <input type="submit" />
        </form>
    </body>
</html>